/**
 * @file
 * Visual styles for exposed filters.
 */

.exposed-filters {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1em;
}

.exposed-filters .filters {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.exposed-filters .form-item {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin: 0;
  padding: 0;
}

.exposed-filters .form-item label {
  flex-shrink: 0;
  width: 10em;
  font-weight: normal;
}

.exposed-filters .form-select {
  width: 14em;
}

/* Current filters */
.exposed-filters .current-filters {
  width: 100%;
  margin-bottom: 1em;
}

.exposed-filters .current-filters .placeholder {
  font-weight: bold;
  font-style: normal;
}

.exposed-filters .additional-filters {
  display: flex;
  align-items: center;
}
