/**
 * @file
 * Visual styles for fields.
 */

.field__label {
  font-weight: bold;
}

.field--label-inline {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 0.5em;
}

.field--label-inline .field__label {
  flex-shrink: 0;
}

.field--label-inline .field__label::after {
  content: ":";
}

.field--label-inline .field__items {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25em;
}
.field--type-entity-reference.field--label-inline .field__items {
  display: block;
}
