/**
 * @file
 * Visual styles for inline forms.
 */

.form--inline {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 0.5em;
  margin-bottom: 30px;
}

.form--inline .form-item {
  margin: 0;
}

.form--inline .form-item-separator {
  display: flex;
  align-items: center;
  margin-top: 1.5em;
  padding: 0 0.5em;
}

.form--inline .form-actions {
  display: flex;
  align-items: flex-end;
  margin: 0;
}
